{% extends 'base.html.twig' %}

{% block title %}{{ 'Flore'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">{{ 'Flore'|trans }}</h1>
    <div class="row">
        {% if flore is not empty %}
            {% for plante in flore %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ asset(plante.img) }}" class="card-img-top" alt="{{ 'Image de flore'|trans }}">
                        <div class="card-body">
                            <p class="card-text">{{ plante.commentaire }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">{{ 'Aucune plante trouvée.'|trans }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}
