{% extends 'base.html.twig' %}

{% set pageTitle = mode == 'ajouter' ? 'Ajouter un marque-page' : 'Modifier un marque-page' %}
{% set actionButton = mode == 'ajouter' ? 'Ajouter' : 'Modifier' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">{{ pageTitle }}</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.url, 'URL', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.motsCles, 'Mots-clés existants', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.motsCles, {'attr': {'class': 'form-control', 'multiple': 'multiple'}}) }}
        </div>

        <!-- Nouveau champ pour ajouter des mots clés -->
        <div class="form-group">
            <label for="new_motsCles" class="form-label">Ajouter de nouveaux Mots-clés</label>
            <input type="text" id="new_motsCles" name="new_motsCles" class="form-control" placeholder="Entrez les nouveaux mots clés séparés par des virgules" />
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-secondary mt-3">{{ actionButton }}</button>
            <a href="{{ path('marque_pages_index') }}" class="btn btn-dark mt-3">Retour à la liste</a>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
