{% extends 'base.html.twig' %}

{% block title %}Détails du Marque-Page{% endblock %}

{% block stylesheets %}
<style>
    .table-custom {
        /* Styles personnalisés pour la table */
    }
</style>
{% endblock %}

{% block body %}
    <article class="container mt-5">
        <h1>Détails du Marque-Page</h1>

        <section>
            <table class="table-custom">
                <thead>
                <tr>
                    <th scope="col">Libellé</th>
                    <th scope="col">Valeur</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{ marquePage.id }}</td>
                </tr>
                <tr>
                    <th scope="row">URL</th>
                    <td>{{ marquePage.url }}</td>
                </tr>
                <tr>
                    <th scope="row">Commentaire</th>
                    <td>{{ marquePage.commentaire }}</td>
                </tr>
                <tr>
                    <th scope="row">Date de Création</th>
                    <td>{{ marquePage.dateCreation|date('d/m/Y H:i') }}</td>
                </tr>
                <tr>
                    <th scope="row">Mots Clés</th>
                    <td>
                        {% if marquePage.getMotsCles|length > 0 %}
                            <ul>
                                {% for mc in marquePage.getMotsCles %}
                                    <li>{{ mc.getMotCle }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Aucun mot clé.
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <a href="/marque-pages">Retour à la liste</a>
    </article>
{% endblock %}
