{% extends 'base.html.twig' %}

{% block title %}{% trans %}Marque Pages{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/custom.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="mb-3">
            <a href="{{ path('marquepage_ajout') }}">{% trans %}Ajouter un Marque Page{% endtrans %}</a>
        </div>
        {% if marque_pages is not empty %}
            <div class="table-responsive">
                <table class="table table-custom">
                    <thead>
                        <tr>
                            <th>{% trans %}ID{% endtrans %}</th>
                            <th>{% trans %}URL{% endtrans %}</th>
                            <th>{% trans %}Commentaire{% endtrans %}</th>
                            <th>{% trans %}Détails du marque-page{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mpr in marque_pages %}
                            <tr>
                                <td>{{ mpr.id }}</td>
                                <td>{{ mpr.url }}</td>
                                <td>{{ mpr.commentaire }}</td>
                                <td>
                                    <a class="btn btn-secondary" href="{{ path('details_marque_page', {'id': mpr.id}) }}">{% trans %}Détails{% endtrans %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info alert-custom" role="alert">
                {% trans %}Aucun marque-page trouvé.{% endtrans %}
            </div>
        {% endif %}
    </div>
{% endblock %}
