{# templates/accueil/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Trending Games{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block body %}
    {% set cards = [
    { title: 'Marque-pages', button: 'Voir', route: 'marque-pages_index', image: 'img/accueil/1f516.svg' },
    { title: 'Livres', button: 'Voir', route: 'livres_index', image: 'img/accueil/1f4da.svg' },
    { title: 'Auteurs', button: 'Voir', route: 'auteurs_index', image: 'img/accueil/2712.svg' },
    { title: 'Faune', button: 'Voir', route: 'lecailloux_faune', image: 'img/accueil/1f98c.svg' },
    { title: 'Flore', button: 'Voir', route: 'lecailloux_flore', image: 'img/accueil/1f33c.svg' },
    { title: 'Employes', button: 'Voir', route: 'employes_index', image: 'img/accueil/1f9d1-1f4bc.svg' }
] %}


    <main class="page-content">
        {% for card in cards %}
            <article class="card card-background" style="background-image: url('{{ asset(card.image) }}');">
                <header>
                    <h2 class="title">{{ card.title }}</h2>
                </header>
                <footer>
                    <a href="{{ path(card.route) }}"><button class="btn" aria-label="Voir {{ card.title }}">{{ card.button }}</button></a>
                </footer>
            </article>
        {% endfor %}
    </main>
{% endblock %}
