{% extends 'base.html.twig' %}

{% block title %}{{ 'Liste des Ressources'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <style>
        .card-img-container {
            height: 90px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
{% endblock %}

{% block body %}
    {% set cards = [
        { title: 'Marque-pages'|trans, button: 'Voir'|trans, route: 'marque_pages_index', image: 'img/accueil/1f516.svg' },
        { title: 'Livres'|trans, button: 'Voir'|trans, route: 'livres_index', image: 'img/accueil/1f4da.svg' },
        { title: 'Auteurs'|trans, button: 'Voir'|trans, route: 'auteurs_index', image: 'img/accueil/2712.svg' },
        { title: 'Faune'|trans, button: 'Voir'|trans, route: 'faune', image: 'img/accueil/1f98c.svg' },
        { title: 'Flore'|trans, button: 'Voir'|trans, route: 'flore', image: 'img/accueil/1f33c.svg' },
        { title: 'Employés'|trans, button: 'Voir'|trans, route: 'employes_index', image: 'img/accueil/1f9d1-1f4bc.svg' }
    ] %}

    <main class="container mt-5">
        <div class="row">
            {% for card in cards %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-img-container" style="background-image: url('{{ asset(card.image) }}');"></div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-center">{{ card.title }}</h5>
                            <div class="mt-auto text-center">
                                <a href="{{ path(card.route, {'_locale': app.request.locale}) }}" class="btn btn-secondary">{{ card.button }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
