{% extends 'base.html.twig' %}

{% block title %}
    {{ filter is null ? 'Liste des Livres' : 'Liste des Livres commençant par la lettre ' ~ filter }}
{% endblock %}

{% block head %}
    {# Assurez-vous que Bootstrap et/ou votre CSS personnalisé est inclus ici #}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-6">
            <form action="{{ path('livres_index') }}" method="get" class="form-inline">
                <div class="form-group mr-2">
                    <select class="form-control" name="auteurId" aria-label="Choisir un auteur">
                        <option value="">Choisir un auteur</option>
                        {% for auteur in auteurs %}
                            <option value="{{ auteur.id }}" {{ auteur.id == auteurId ? 'selected' : '' }}>{{ auteur.nom }} {{ auteur.prenom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mr-2">
                    <select class="form-control" name="filter" aria-label="Filtrer par la première lettre du titre">
                        <option value="">Filtrer par la première lettre du titre</option>
                        {% for lettre in lettres %}
                            <option value="{{ lettre }}" {{ lettre == filter ? 'selected' : '' }}>{{ lettre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filtrer</button>
            </form>
        </div>
        <div class="col-md-6">
            <p class="text-right">Nombre total de livres : {{ nbLivre }}</p>
            <p class="text-right">Nombre de livres affichés : {{ nbFilteredLivre }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Année de parution</th>
                        <th>Nombre de pages</th>
                        <th>Genre</th>
                        <th>ISBN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livre in livres %}
                        <tr>
                            <td><a href="{{ path('detail_livre', {'id': livre.id}) }}">{{ livre.titre }}</a></td>
                            <td>{{ livre.auteur.nom }} {{ livre.auteur.prenom }}</td>
                            <td>{{ livre.anneeParution|date('Y') }}</td>
                            <td>{{ livre.nombrePages }}</td>
                            <td>{{ livre.genre }}</td>
                            <td>{{ livre.isbn }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
