{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Modifier{% endtrans %} {% if auteur is defined %}{% trans %}l'auteur{% endtrans %} {{ auteur.nom }}{% else %}{% trans %}le livre{% endtrans %} {{ livre.titre }}{% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Modifier{% endtrans %} {% if auteur is defined %}{% trans %}l'auteur{% endtrans %} {{ auteur.nom }}{% else %}{% trans %}le livre{% endtrans %} {{ livre.titre }}{% endif %}</h1>

        <div class="row mt-4">
            <div class="col-md-6">
                {{ form_start(form) }}

                {# Affichage des champs du formulaire #}
                {{ form_widget(form) }}

                {# Bouton de soumission du formulaire #}
                <button type="submit" class="btn btn-primary">{% trans %}Modifier{% endtrans %}</button>
                <a href="{{ path('employes_index') }}" class="btn btn-dark">{% trans %}Retour à la liste{% endtrans %}</a>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
