{% extends 'base.html.twig' %}

{% set pageTitle = mode == 'ajouter' ? 'Ajouter un employé' : 'Modifier un employé' %}
{% set actionButton = mode == 'ajouter' ? 'Ajouter' : 'Modifier' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">{{ pageTitle }}</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.prenom) %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form.prenom) }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.nom) %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form.nom) }}
                </div>
            {% endif %}
        </div>

        {# Ici, form.adresse est traité comme un sous-formulaire. 
           Assurez-vous que le type de formulaire AdresseType est bien configuré pour inclure les champs nécessaires. #}
        {{ form_widget(form.adresse) }}

        <button type="submit" class="btn btn-secondary mt-3">{{ actionButton }}</button>
        <a href="{{ path('employes_index') }}" class="btn btn-dark mt-3">Retour à la liste</a>
    {{ form_end(form) }}
</div>
{% endblock %}
