{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Liste des Employés'|trans }}
    {% if filterNom %}
        {{ 'filtrés par'|trans ~ ' ' ~ filterNom }}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="get" action="{{ path('employes_index') }}" class="mb-4">
        <div class="form-row">
            <div class="col">
                <select class="form-control" name="filterNom">
                    <option value="">{{ 'Choisir un employé'|trans }}</option>
                    {% for employe in employes %}
                        <option value="{{ employe.nom }}" {% if filterNom == employe.nom %}selected{% endif %}>
                            {{ employe.nom }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select class="form-control" name="sortOrder">
                    <option value="">{{ 'Sélectionner l\'ordre de tri'|trans }}</option>
                    <option value="ASC" {% if sortOrder == 'ASC' %}selected{% endif %}>
                        {{ 'Croissant'|trans }}
                    </option>
                    <option value="DESC" {% if sortOrder == 'DESC' %}selected{% endif %}>
                        {{ 'Décroissant'|trans }}
                    </option>
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-dark">{{ 'Filtrer'|trans }}</button>
                <a href="{{ path('employe_ajout') }}" class="btn btn-secondary">
                    {{ 'Ajouter un employé'|trans }}
                </a>
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Nom'|trans }}</th>
                <th>{{ 'Prénom'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% if employes is not empty %}
                {% for employe in employes %}
                    <tr>
                        <td>{{ employe.nom }}</td>
                        <td>{{ employe.prenom }}</td>
                        <td>
                            <a href="{{ path('detail_employe', {'id': employe.id}) }}" class="btn btn-secondary">
                                {{ 'Détails'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">{{ 'Aucun employé trouvé.'|trans }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
