{% extends 'base.html.twig' %}

{% block title %}{{ 'Modifier un employé'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">{{ 'Modifier un employé'|trans }}</h1>
    {{ form_start(form) }}
    <div class="row mt-4">
        <div class="col-md-6">
            <!-- Champs du formulaire -->
            <div class="form-group">
                {{ form_label(form.nom, 'Nom'|trans, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.nom) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.nom) }}
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form_label(form.prenom, 'Prénom'|trans, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.prenom) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.prenom) }}
                    </div>
                {% endif %}
            </div>

            <!-- Champs de l'adresse -->
            <div class="form-group">
                {{ form_label(form.adresse.rue, 'Rue'|trans, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.adresse.rue, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.adresse.ville, 'Ville'|trans, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.adresse.ville, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.adresse.codePostal, 'Code Postal'|trans, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.adresse.codePostal, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <!-- Boutons -->
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">{{ 'Modifier'|trans }}</button>
                <a href="{{ path('employes_index') }}" class="btn btn-dark">{{ 'Retour à la liste'|trans }}</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
